@import "compass/reset";
@import "compass/css3";
@import "../modules/top";

html, body, ul, li, p, h2, h3 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
body {
	font-family: "微软雅黑";	
	background: #f2f2f2;
	font-size: 62.5%;
}

.logo {
	span {
		font-size: 1rem;
	}
}
.content {
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	h2 {
		font-size: 1.5rem;
		padding: 20px 0;
	}
	.detail-wraper {
		overflow: hidden;
		padding: 20px;
		margin: 0 auto;
		width: 60%;
		background: #fff;
		@include border-radius(4px);
		h3 {
			font-size: 1.5rem;
			text-align: center;
		}
		p {
			margin-bottom: 10px;
			font-size: 1.2rem;
		}
	}

}